$card-width: 36.5rem;

.card {
  max-width: $card-width;
  padding: 3.2rem;
  border-radius: 1.6rem;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  background: $clr-pure-white;

  & div:first-of-type {
    display: flex;
    align-items: center;
    gap: 1.9rem;
    margin-bottom: 1.6rem;
  }

  &__heading {
    color: $clr-gun-metail;
  }

  &__text {
    color: $clr-dark-electric-blue;
  }
}
