// Mixinler
@mixin heading($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $fw-bold;
  letter-spacing: -5%;
}

@mixin body($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin respond($type, $breakpoint) {
  @media ($type: $breakpoint) {
    @content;
  }
}
