:root {
  // Font size
  --fs-200: 1.4rem;
  --fs-300: 1.6rem;
  --fs-400: 2rem;
  --fs-500: 2.4rem;
  --fs-600: 4.8rem;
  --fs-700: 6.4rem;
}

// Colors
$clr-blue: #345ff6;
$clr-gun-metail: #253347;
$clr-dark-electric-blue: #5e6e85;
$clr-border: #d8e2e7;
$clr-pure-white: #ffffff;

// Font family
$ff-primary: "Inter", sans-serif;

// Font weight
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 600;

// Line height
$lh-md: 110%;
$lh-lg: 150%;

// Letter spacing
$lt-100: -5%;
$lt-400: 0%;

@media (max-width: 64em) {
  :root {
    --fs-700: 4.8rem;
    --fs-600: 3.2rem;
  }
}
